        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        img {
            max-width: 100%;
        }

        :root {
            /* font-size: 62.5%; */
            /* 16px * 62.5% = 10px */
            --header-height: 60px;
            /* variable */
            --aside-width: 240px;
        }

        /*
            div{
                font-size: 1.8rem;  >>> 1.8rem => 1.8 * 10px = 18px
            }
            */
        /* ====== header ���� =======*/
        header.header {
            border: 1px solid black;
            height: var(--header-height);
            background-color: lightgray;
            position: sticky;
            top: 0;
        }
        header.header > h3{
        	margin-left: 10px;
        }

        /* ====== aside ���� =======*/
        aside.aside {
            /* border: 1px solid red; */
            position: fixed;
            left: 0;
            top: var(--header-height);
            width: var(--aside-width);
            background-color: lightblue;
            height: calc(100% - var(--header-height));
            padding: 20px 0;
            overflow-y: auto;

            transition: 1s; 
        }
        @media screen and (max-width: 767.98px) {
            aside.aside {
                top: 0;
                height: 100%;
                transform: translateX(-100%);
            }
            aside.aside.-on{
                transform: translateX(0%);
            }
        }
        aside.aside nav.nav > ul.nav_list{
            /* border: 1px solid purple; */
            list-style: none;
            margin: 0;
            padding: 0;
        }
        aside.aside nav.nav{
            /* border: 1px solid green; */
        }

        aside.aside nav.nav > ul.nav_list > li{
            /* border: 1px solid orange; */
        }
        aside.aside nav.nav > ul.nav_list > li > h4{
            /* border: 1px solid white; */
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 0;
        }
        aside.aside nav.nav > ul.nav_list > li > a{
            border: 1px solid white;
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 5px 0;
        }
        /* ====== main ���� =======*/
        main.main {
            /* border: 1px solid blue; */
            margin-left: var(--aside-width);
            width: calc(100% - var(--aside-width));
            background-color: orange;
            min-height: calc(100vh - var(--header-height));

            padding: 20px;
        }
        @media screen and (max-width: 767.98px) {
            main.main {
                margin-left: 0;
                width: 100%;
            }
        }
        main.main > ul.item_list{
            /* border: 1px solid blue; */
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }
        main.main > ul.item_list > li{
            border: 1px solid green;
            width: calc((100% - 60px) / 4 );
            margin-right: 20px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 767.98px) {
            main.main > ul.item_list > li{
                width: calc((100% - 20px) / 2 );
            }
        }
        main.main > ul.item_list > li:nth-child(4n){
            margin-right: 0;
        }
        @media screen and (max-width: 767.98px) {
            main.main > ul.item_list > li:nth-child(2n){
                margin-right: 0;
            }
        }
        main.main > ul.item_list > li > a{
            display: block;
            border: 1px solid white;
            text-decoration: none;
        }
        main.main > ul.item_list > li > a div.img_block{
            border: 1px solid blue;
            font-size: 0;
        }
        main.main > ul.item_list > li > a span.item_text{
            display: block;
            /* border: 1px solid red; */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        button.btn_hamburger{
            display: none; 
        }
        @media screen and (max-width: 767.98px) {
            button.btn_hamburger{
                display: block;
            }
        }
        @media screen and (max-width: 767.98px) {
	        header.header > h3 {
			  display: inline-block;
	        }
        	header.header > button.btn_hamburger{
        		display: inline-block;
        	}
        }
