<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CFA104G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>MemberServlet</servlet-name>
	<servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
	
  <servlet-mapping>
	<servlet-name>MemberServlet</servlet-name>
	<url-pattern>/member/MemberServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp/emp.do</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>NameServlet</servlet-name>
	<servlet-class>com.chat.controller.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>NameServlet</servlet-name>
	<url-pattern>/chat.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.room.controller.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/room/room.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomTypeServlet</servlet-name>
    <servlet-class>com.roomType.controller.RoomTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypeServlet</servlet-name>
    <url-pattern>/roomType/roomType.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomTypePicReader</servlet-name>
    <servlet-class>com.roomTypePic.controller.RoomTypePicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypePicReader</servlet-name>
    <url-pattern>/roomType/roomTypePic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QAListServlet</servlet-name>
    <servlet-class>com.qalist.controller.QAListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QAListServlet</servlet-name>
    <url-pattern>/qaList/qaList.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>RoomTypePicReaderforid</servlet-name>
    <servlet-class>com.roomTypePic.controller.RoomTypePicReaderforid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypePicReaderforid</servlet-name>
    <url-pattern>/roomType/roomTypePicId.do</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>RoomTypePicServlet</servlet-name>
    <servlet-class>com.roomTypePic.controller.RoomTypePicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypePicServlet</servlet-name>
    <url-pattern>/roomType/roomTypePicServlet.do</url-pattern>
  </servlet-mapping>

  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/back-end/admin/dashboard.jsp</url-pattern>
    <url-pattern>/back-end/demo/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
</web-app>